.results {
  // border: 1px solid red;
  display: grid;
  gap: 70px;
  padding: 20px;
  @media screen and (min-width: 420px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 740px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
